/* ABOUT PAGE */
.about-text h2 {
    font-size: 1.8rem;
    color: #E76F51;
    margin-bottom: 15px;
}

.about-text p {
    line-height: 1.6;
    margin-bottom: 25px;
}

.about-image img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* MENU PAGE */
.menu-info p {
    color: #264653;
}

.menu-info .price {
    font-weight: 700;
    color: #E76F51;
}